:root {
	--font-size: 16px;
	--font-family: "sans-serif";
	--font-color: #fff;
	--bg-color: #343a40;
	--main-color: #f54910;
	--second-color: #f02d7d;
	--third-color: #19d719;
	--pad-btn: #5a6268;
	--general-spacing: 1rem;
}

@font-face {
	font-family: "Splatoon";
	src: local("Splatoon"), url(./assets/Splatoon.otf) format("opentype");
}

@font-face {
	font-family: "Splatoon2";
	src: local("Splatoon2"), url(./assets/Splatoon2.otf) format("opentype");
}

html {
	font-size: var(--font-size);
	font-family: var(--font-family);
	color: var(--font-color);
	background-color: var(--bg-color);
}

body {
	background-image: url("./assets/bg-main.png");
	margin: 0;
	padding: 0;
	color: var(--font-color);
	font-family: "Splatoon2";
}

main {
	min-height: 100vh;
}

.main-color,
.primary {
	background-color: var(--main-color);
}

.second-color,
.secondary {
	background-color: var(--second-color);
}

.third-color,
.tertiary {
	background-color: var(--third-color);
}

.pad-btn {
	background-color: var(--pad-btn);
}

.btn-secondary:hover {
	background-color: var(--third-color);
}

.header {
	margin-bottom: 1.5rem;
}

.spacing {
	margin: 1rem 0;
}

a {
	color: var(--font-color);
}

a:hover {
	color: var(--font-color);
	font-weight: bold;
	text-decoration: none;
}

.nav-item > .dropdown-menu.show {
	background-color: var(--second-color);
}

.nav-item > .dropdown-menu.show > .dropdown-item {
	background-color: var(--second-color);
	color: var(--font-color);
}

.nav-item > .dropdown-menu.show > .dropdown-item:hover {
	font-weight: bold;
}

.navbar-toggler {
	border: 0.25px solid var(--font-color);
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.main-container {
	padding: 1.5rem;
	border-radius: 0.5rem;
}

.modal-header {
	border: none;
}

.modal-content {
	border: none;
	border-radius: 0.5rem;
}

.modal-footer {
	padding-top: 0;
}

.modal-body,
.modal-footer {
	background-color: var(--bg-color);
	border: none;
}

.modal-open {
	padding: 0;
}
